.menu i {
    width: 18px;
    height: 18px;
    stroke-width: 1.8;
}

header {
    /* Frosted glass core */
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);

    background: rgba(255, 255, 255, 0.12); /* milky light layer */
    /* Shape + spacing */
    padding: 0.6%;
    transition:
        padding 0.3s ease,
        background 0.5s ease,
        border-color 0.5s ease,
        box-shadow 0.6s ease;

}

header.scrolled {
    padding: 0.05%;
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 6px 35px rgba(0, 0, 0, 0.20);
}

.header-background {
    opacity: 0.5;
    transition: opacity 0.5s ease, box-shadow 1.5s ease;
}


header.scrolled .header-background {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active {
    opacity: 0.8;
    font-weight: bold;
    /* Added bold to make active state clearer */
    color: oklch(var(--p));
    /* Use primary color for active state */
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 25%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 20%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 15%;
}

/* Fix for the wave animation */
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wave {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 5s;
}

.wave:hover {
    animation: wave 2s infinite;
}

#toast {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#toast.show {
    opacity: 1;
}